@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@100;300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'MuseoModerno', sans-serif;
    background-color: #E5E5E5;
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(https://images.unsplash.com/photo-1642403711604-3908e90960ce?auto=format&fit=crop&q=80&w=1932&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}


/* -------------------navbar---------------------- */

nav {
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem;
    margin: 2vh 2vw;
    border-radius: 1rem;
    width: 90vw;
}

.logo {
    height: 100%;
    min-width: 100px;
    display: flex;
    align-items: center;
    gap: 1rem;
    display: flex;
}

.logo img {
    height: 2rem;
}

.logo a {
    text-decoration: none;
    color: #000;
    font-weight: 700;
    font-size: 2rem;
}

.search-Page-Btn {
    width: 200px;
}

.searchPage {
    background-color: #FFFFFF;
    border: 1px solid #947749;
    border-radius: 10px;
    padding: 0.25rem 1rem 0.25rem;
    cursor: pointer;
    font-size: 1.4rem;
    transition: all 0.25s;
    text-decoration: none;
    color: #000;
    font-weight: 700;
}

.searchPage:hover {
    background-color: #49453e;
    color: #fff;
}

.cont {
    height: auto;
    width: 30vw;
    background-color: #E5E5E5;
    border-radius: 20px;
    text-align: center;
    padding: 2vh;
    margin-top: 20vh;
}

.cont h1 {
    font-size: 2.5rem;
}

ul {
    font-size: 2rem;
    color: red;
}

li {
    list-style: none;
}